body {
  font-family: monospace !important;
}

.app {
  margin: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.greetings {
  text-align: center;
  font-size: 2em;
  margin: 0px 0px 5px 0px;
  background-color: #e6f7ff !important;
}

.greetings h3 {

}

.greetings>.clock {
  text-align: right;
  margin-right: 10px;
}

.monitor {
  margin: 5px 0px 5px 0px;
  background-color: #e6f7ff !important;
  font-size: 2em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.monitor>h3 {
  text-align: center;
}

.monitor.question {
  marign: 0 10px 5px 10px;
}
