body {
  font-family: monospace !important;
}

.app {
  margin: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  padding: 1em 0;
  background-color: #e6f7ff !important;
}

.header>.sub-title {
  display: flex;
}

.header>.sub-title>.left-column {
  width: 90%;
}

.header>.sub-title.right-column {
  width: 10%;
  text-align: right;
  margin-right: 2em;
}

.header>.clock {
  text-align: right;
  margin-right: 1em;
}

.header>.greetings {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.header>.sub-title>.left-column>.quote {
  font-size:  1em;
  font-style: italic;
  margin: 1em;
}

.monitor {
  margin: 5px 0px 5px 0px;
  background-color: #e6f7ff !important;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.monitor>h3 {
  text-align: center;
}

.monitor.question {
  marign: 0 10px 5px 10px;
}

.profile {
  display: inline-block;
  text-align: center;
  border-color: green;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-width: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
  margin-bottom: 2em;
}

.profile>.button {
  padding: 2em 0;
}

.profile>.button>input {
  margin: 0 0.5em;
}


